

body {
    background-size: cover;
    background-image: url("../images/papel-de-papiro-mármore.jpg");
}

header {
    text-align: center;
    color: var(--cnc-red);
    font-size: clamp(1.5rem, 2vw, 3rem);
}

main div.top label {
    font-size: clamp(.8rem, 1vw, 1.5rem);
}

main div.auto label {
    font-size: clamp(.7rem, .8vw, .9rem);
}

input, select {
    text-align: center;
    border-color: var(--cnc-red-transparent) !important;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label {
    font-weight: bold;
}
    
:root {
    --cnc-red: rgb(192, 0, 0);
    --cnc-red-transparent: rgba(126, 0, 0, 0.2);
}